@charset "UTF-8";

body{   
    background-color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 16px;
}
h1{
    color: darkblue;
    background-color: cadetblue;
}
h2{
    color: crimson;
}
p{
    text-align: justify;
}