@charset "UTF-8";
/* id = # ---- class = . */

body{
    background-color: rgb(19, 122, 163);
    max-width: 900px;
    margin: auto;
    padding: 10px;
}

h1{
    color: aquamarine;
}

h1#principal{
    text-align: center;
    background-color: blue;
    color: aliceblue;
}

h2{
    color: blue;
}
.basico{
    color: chartreuse;
}

.intermediario{
    color: darkgoldenrod;
}

.avançado{
    color: firebrick;
}